<%-include("partial/headSection")%>
<body bgcolor="pink">
    <%-include("partial/navbar")%>
    <hr size="5" color="red">
    <hr size="5" color="blue">
    <h1>Wellcome to Homepage</h1>
</body>
</html>