<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/" style="text-decoration: none; font-size: 25px; margin-right: 30px;">Home</a>
    <a href="/insert" style="text-decoration: none; font-size: 25px; margin-right: 30px;">Insert Records</a>
    <a href="/display" style="text-decoration: none; font-size: 25px; margin-right: 30px;">Display Records</a>
    <a href="/searchrecord" style="text-decoration: none; font-size: 25px; margin-right: 30px;">Search</a>
    <hr size="5" color="red">
    <hr size="5" color="blue">
    <h1>Wellcome to Homepage</h1>
</body>
</html>