<%-include("partial/headSection")%>
<body bgcolor="yellow">
    <%-include("partial/navbar")%>
    <hr size="5" color="red">
    <hr size="5" color="blue">
    <h1>Insert your data here</h1>
    <form action="/studentinsert" method="post" >
            Id <input type="text" name="rno"><br>
            Name <input type="text" name="nm"><br>
            city <input type="text" name="city"><br>
            Fees <input type="text" name="fees"><br>
            <input type="submit" value="Submit">
            
    </form>
</body>
</html>