<link rel="stylesheet" href="/css/style.css">
<div class="navbar">
<a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/searchrecord">Search</a>
</div>